<h2>Login form</h2>
<p *ngIf="message">{{message}}</p>
<div *ngIf="!IsLogin || IsCreating">
  <md-input-container>
    <input mdInput placeholder="Name" [(ngModel)]="username" />
  </md-input-container>  
  <md-input-container >
      <input mdInput type="password" placeholder="Password" [(ngModel)]="password" />
    </md-input-container> 
</div>
<div *ngIf="IsLogin">
  <button (click)="test()">Test</button>  
</div>
<p *ngIf="!IsCreating">
  <button md-button (click)="login()" *ngIf="!IsLogin">Login</button>
  <button md-button (click)="logout()" *ngIf="IsLogin">Logout</button>
  <button md-button (click)="changeState('Create')">Register</button>
</p>
<p *ngIf="IsCreating">
  <button md-button (click)="register()" *ngIf="!IsLogin">Register</button>  
</p>